<!--SECTION BANNER-->
<section class="section-banner" id="banner">
  <div>
    <video class="w-100" loop muted autoplay>
      <source src="./assets/video/banner.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="ms-5 text-center position-absolute text-white">
    <span class="title-hola d-inline-block fw-bold p-2">Hola &#x1F44B;,</span>
    <h1 class="title-banner d-inline-block fw-bold p-2">
      Soy
      <span class="text-gradient315 fw-bold">&lt;Full Stack Developer/></span>
    </h1>
  </div>
</section>
<!--END SECTION BANNER-->
