/* SECTION BANNER */
.title-hola {
  position: relative;
  top: -270px;
  left: -200px;
  background-color: #252839;
  font-size: 2.5rem;
}

.title-banner {
  position: relative;
  top: -250px;
  left: -13px;
  background-color: #252839;
  font-size: 2.5em;
}

@media (min-width: 768px) {
  .title-hola {
    top: -20rem;
    left: -15rem;
    font-size: 3em;
  }

  .title-banner {
    top: -18rem;
    font-size: 3em;
  }
}

@media (min-width: 938px) {
  .title-hola {
    top: -25rem;
    left: 3.5rem;
  }

  .title-banner {
    top: -18rem;
    left: -10rem;
  }
}
/* END SECTION BANNER */
