<!--SECTION PROJECTS-->
<section class="section-projects container-fluid py-5 my-5" id="projects">
    <div class="text-center">
        <h3 class="fs-1 text-gradient315 fw-bold d-inline">Proyectos</h3>
    </div>

    <div class="row justify-content-center my-5 mx-sm-2">
        <div class="col-lg-4 center my-sm-2 px-0 m-sm-2">
            <div class="front-face">
            <div class="contents front">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100" alt="Canyon at Nigh"/>
            </div>
            </div>
            <div class="back-face">
            <div class="contents back">
                <h2>
                    PROYECTO 1
                </h2>
                <p class="px-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugit ea culpa eius, nostrum dolores magni alias nesciunt quos provident! Provident, dolore consectetur inventore a nam aperiam impedit doloribus cupiditate!</p>
                <div class="my-2 d-block">
                    <a class="btn" href="#"><i class="bi bi-github text-light display-5"></i></a>
                    <a class="btn" href="#"><i class="bi bi-code text-light display-5"></i></a>
                </div>
            </div>
            </div>
        </div>

        <div class="col-lg-4 center my-sm-2 px-0 m-sm-2">
            <div class="front-face">
            <div class="contents front">
                <img src="https://cdn.pixabay.com/photo/2018/01/18/07/31/bitcoin-3089728_960_720.jpg" class="d-block w-100" alt="Canyon at Nigh"/>
            </div>
            </div>
            <div class="back-face">
            <div class="contents back">
                <h2>
                    PROYECTO 2
                </h2>
                <p class="px-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugit ea culpa eius, nostrum dolores magni alias nesciunt quos provident! Provident, dolore consectetur inventore a nam aperiam impedit doloribus cupiditate!</p>
                <div class="icons d-block">
                    <a class="btn" href="#"><i class="bi bi-github text-light display-5"></i></a>
                    <a class="btn" href="#"><i class="bi bi-code text-light display-5"></i></a>
                </div>
            </div>
            </div>
        </div> 

        <div class="col-lg-4 center my-sm-2 px-0 m-sm-2">
            <div class="front-face">
            <div class="contents front">
                <img src="https://cdn.pixabay.com/photo/2018/01/17/20/22/analytics-3088958_960_720.jpg" class="d-block w-100" alt="Canyon at Nigh"/>
            </div>
            </div>
            <div class="back-face">
            <div class="contents back">
                <h2>
                    PROYECTO 3
                </h2>
                <p class="px-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugit ea culpa eius, nostrum dolores magni alias nesciunt quos provident! Provident, dolore consectetur inventore a nam aperiam impedit doloribus cupiditate!</p>
                <div class="icons d-block">
                    <a class="btn" href="#"><i class="bi bi-github text-light display-5"></i></a>
                    <a class="btn" href="#"><i class="bi bi-code text-light display-5"></i></a>
                </div>
            </div>
            </div>
        </div> 

        <div class="col-lg-4 center my-sm-2 px-0 m-sm-2">
            <div class="front-face">
            <div class="contents front">
                <img src="https://cdn.pixabay.com/photo/2018/01/17/20/22/analytics-3088958_960_720.jpg" class="d-block w-100" alt="Canyon at Nigh"/>
            </div>
            </div>
            <div class="back-face">
            <div class="contents back">
                <h2>
                    PROYECTO 3
                </h2>
                <p class="px-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. In fugit ea culpa eius, nostrum dolores magni alias nesciunt quos provident! Provident, dolore consectetur inventore a nam aperiam impedit doloribus cupiditate!</p>
                <div class="icons d-block">
                    <a class="btn" href="#"><i class="bi bi-github text-light display-5"></i></a>
                    <a class="btn" href="#"><i class="bi bi-code text-light display-5"></i></a>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!--END SECTION PROJECTS-->