<!--FOOTER-->
<footer class="bg-dark text-light text-center p-5">
    <hr class="p-3"/>
    <h6 class="footer-copy">Diseñado con 🤍 por <a href="https://www.linkedin.com/in/aguirre-valeria" class="text-gradient315 fw-bold" target="_blank">@aguirre-valeria</a></h6>
    <p>Diseño realizado como final para el programa de Argentina Programa</p>
    <div>
        <a class="btn px-2" href="https://github.com/aguirre-valeria"><i class="bi bi-github text-gradient315 display-6"></i></a>
        <a class="btn px-2" href="https://www.linkedin.com/in/aguirre-valeria"><i class="bi bi-linkedin text-gradient315 display-6"></i></a>
        <a class="btn px-2" href="mailto:valee26z@gmail.com"><i class="bi bi-envelope-fill text-gradient315 display-6"></i></a>
    </div>
</footer>
<!--END FOOTER-->