<!--SECTION SKILLS-->
<section class="section-skills container-fluid py-5 my-5" id="skills">
    <div class="text-center p-5">
        <h3 class="fs-1 text-gradient315 fw-bold d-inline">Habilidades</h3>
    </div>
    <div class="container__skills row justify-content-center gap-3">
        <div class="skill">
            <div class="percent" style="--clr: #e70faa; --num: 85">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h6>85<span>%</span></h6>
                    <p>HTML</p>
                </div>
            </div>
        </div>
        <div class="skill">
            <div class="percent" style="--clr: #e70faa; --num: 70">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h6>70<span>%</span></h6>
                    <p>CSS</p>
                </div>
            </div>
        </div>
        <div class="skill">
            <div class="percent" style="--clr: #e70faa; --num: 70">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h6>70<span>%</span></h6>
                    <p>CSS</p>
                </div>
            </div>
        </div>
        <div class="skill">
            <div class="percent" style="--clr: #e70faa; --num: 70">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h6>70<span>%</span></h6>
                    <p>CSS</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END SECTION SKILLS-->