<!--SECTION SKILLS-->
<section class="section-skills container-fluid py-5 my-5" id="skills">
    <div class="text-end pe-4 me-4">
        <button type="button" class="btn btn-success fw-bold m-2"><i class="bi bi-plus-lg"></i></button>
        <button type="button" class="btn btn-secondary fw-bold m-2"><i class="bi bi-pencil-square"></i></button>
        <button type="button" class="btn btn-danger fw-bold m-2"><i class="bi bi-trash3-fill"></i></button>
    </div>
    <div class="text-center p-5">
        <h3 class="fs-1 text-gradient315 fw-bold d-inline">Habilidades</h3>
    </div>
    <div class="container__skills row justify-content-center gap-3" *ngFor="let skill of skills;">
        <div class="skill">
            <div class="percent" style="--clr: #e70faa; --num: {{skill.porcentageSkill}}">
                <div class="dot"></div>
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle cx="70" cy="70" r="70"></circle>
                </svg>
                <div class="number">
                    <h6>{{skill.porcentageSkill}}<span>%</span></h6>
                    <p>{{skill.nameSkill}}</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!--END SECTION SKILLS-->