<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <!--LOGO AP-->
      <div class="w-50">
        <a
          class="navbar-brand letter-spacing"
          href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"
          target="_blank"
        >
          <img
            class="w-25"
            src="./assets/img/logo-argentina-programa.png"
            alt="Argentina Programa"
          />
        </a>
      </div>
      <!--LINKS-->
      <div class="nav collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav nav-list">
          <li class="nav-item" style="--clr: #00ade1">
            <a class="nav-link" href="#" data-text="&nbsp;Home"
              ><span class="fa fa-info-circle"></span>&nbsp;Home&nbsp;</a
            >
          </li>
          <li class="nav-item" style="--clr: #ff6493">
            <a class="nav-link" href="#about-me" data-text="&nbsp;Acerca"
              >&nbsp;Acerca&nbsp;</a
            >
          </li>
          <li class="nav-item" style="--clr: #ffdd1c">
            <a
              class="nav-link"
              href="#experiencie"
              data-text="&nbsp;Experiencia"
              >&nbsp;Experiencia&nbsp;</a
            >
          </li>
          <li class="nav-item" style="--clr: #00dc82">
            <a class="nav-link" href="#education" data-text="&nbsp;Educación"
              >&nbsp;Educación&nbsp;</a
            >
          </li>
          <li class="nav-item" style="--clr: #dc00d4">
            <a class="nav-link" href="#skills" data-text="&nbsp;Skills"
              >&nbsp;Skills&nbsp;</a
            >
          </li>
          <li class="nav-item" style="--clr: #fff">
            <a class="nav-link" href="#projects" data-text="&nbsp;Proyectos"
              >&nbsp;Proyectos&nbsp;</a
            >
          </li>
          <!-- <li class="nav-item" style="--clr: #000000">
            <a class="nav-link" href="#contact" data-text="&nbsp;Contacto"
              >&nbsp;Contacto&nbsp;</a
            >
          </li> -->
          <li class="nav-item icon-contact">
            <a
              class="btn px-2"
              *ngIf="user"
              href="{{ user.urlGitHub }}"
              target="_blank"
              ><i class="bi bi-github text-gradient315 display-4"></i
            ></a>
            <a
              class="btn px-2"
              *ngIf="user"
              href="{{ user.urlLinkedIn }}"
              target="_blank"
              ><i class="bi bi-linkedin text-gradient315 display-4"></i
            ></a>
            <a
              class="btn px-2"
              *ngIf="user"
              href="mailto:{{ user.email }}"
              target="_blank"
              ><i class="bi bi-envelope-fill text-gradient315 display-4"></i
            ></a>
          </li>
        </ul>
      </div>
      <!--BOTTONS-->
      <div class="navbar-nav d-flex flex-row align-items-center">
        <button
          type="button"
          class="btn bg-gradient135 fw-bold border-0 me-2"
          *ngIf = "!isLoggedIn"
          [routerLink]="'/login'"
        >
          Ingresar
        </button>
<!--         <button
          type="button"
          class="btn bg-gradient135 fw-bold border-0"
          *ngIf = "!isLoggedIn"
          [routerLink]="'/signup'"
          
        >
          Registrarse
        </button> -->
        
        <button
          type="button"
          class="btn bg-gradient135 fw-bold border-0"
          data-bs-toggle="modal"
          data-bs-target="#loginModal"
          *ngIf = "isLoggedIn"
          (click) = "logout()"
        >
          Cerrar sesión
        </button>
        <button
          type="button"
          class="navbar-toggler px-2 hamburger text-white border-0"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bi bi-house-heart-fill text-gradient315 display-4 px-2"></i>
        </button>
      </div>
    </div>
  </nav>
</header>
