<!--SECTION ABOUT ME-->
<section
  class="section-about-me text-white text-center container my-5 py-4"
  id="about-me"
>
<div class="text-end">
  <button type="button" class="btn btn-secondary fw-bold m-2"><i class="bi bi-pencil-square"></i></button>
</div>
  <div class="row justify-content-center">
    <div class="about__selfie col-md-3 m-3"></div>
    <div class="col-md-7 col-xl-5">
      <h2 class="mb-4 mt-md-4">
        Mi nombre es
        <span *ngIf="user" class="text-gradient315 fw-bold">&lt;{{user.name}} {{user.surname}}/></span>
      </h2>
      <p *ngIf="user">
        {{user.description}}
      </p>
      <button type="button" class="btn bg-gradient135 fw-bold border-0">Descarga CV</button>
    </div>
  </div>
</section>
<!--END SECTION ABOUT ME-->
