<!--SECTION ABOUT ME-->
<section
  class="section-about-me text-white text-center container my-5 py-4"
  id="about-me"
>
  <div class="text-end pe-4 me-4">
    <button
      type="button"
      class="btn btn-success fw-bold m-2"
      data-bs-toggle="modal"
      data-bs-target="#editProfileModal"
    >
      EDITAR PERFIL
    </button>
  </div>
  <div class="row justify-content-center">
    <div
      *ngIf="user"
      class="about__selfie col-md-3 m-3"
      style="background-image: url({{ user.urlPhoto }});"
    ></div>
    <div class="col-md-7 col-xl-5">
      <h2 class="mb-4 mt-md-4">
        Mi nombre es
        <span *ngIf="user" class="text-gradient315 fw-bold"
          >&lt;{{ user.name }} {{ user.surname }}/></span
        >
      </h2>
      <p *ngIf="user">
        {{ user.description }}
      </p>
      <!-- <button type="button" class="btn bg-gradient135 fw-bold border-0">
        Descarga CV
      </button> -->
    </div>
  </div>
</section>
<!--END SECTION ABOUT ME-->

<!-- MODAL EDIT PROFILE -->
<div
  class="modal fade"
  id="editProfileModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editProfileModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title fs-5" id="updateProfileModalLabel">
          Editar Perfil de {{ user?.name }}
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm" (ngSubmit)="updateProfile(editForm.value)">
          <div class="form-group">
            <input
              type="number"
              ngModel="{{ user?.id }}"
              name="id"
              class="form-control d-none"
              id="id"
              placeholder="Identificador"
            />
            <label for="name">Nombre</label>
            <input
              type="text"
              ngModel="{{ user?.name }}"
              name="name"
              class="form-control"
              id="name"
              placeholder="Nombre"
            />
            <label for="surname">Apellido</label>
            <input
              type="text"
              ngModel="{{ user?.surname }}"
              name="surname"
              class="form-control"
              id="surname"
              placeholder="Apellido"
            />
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input
              type="email"
              ngModel="{{ user?.email }}"
              name="email"
              class="form-control"
              id="email"
              placeholder="Correo electrónico"
            />
          </div>
          <div class="form-group">
            <label for="titleProfession">Título de profesión</label>
            <input
              type="text"
              ngModel="{{ user?.titleProfession }}"
              name="titleProfession"
              class="form-control"
              id="titleProfession"
              placeholder="Título de professión"
            />
          </div>
          <div class="form-group">
            <label for="description">Descripcióm de acerca</label>
            <input
              type="text"
              ngModel="{{ user?.description }}"
              name="description"
              class="form-control"
              id="description"
              placeholder="Detalle de acerca"
            />
          </div>
          <div class="form-group">
            <label for="urlPhoto">Foto de perfil</label>
            <input
              type="text"
              ngModel="{{ user?.urlPhoto }}"
              name="urlPhoto"
              class="form-control"
              id="urlPhoto"
              placeholder="Link de foto de perfil"
            />
          </div>
          <div class="form-group">
            <label for="urlBanner">Banner</label>
            <input
              type="text"
              ngModel="{{ user?.urlBanner }}"
              name="urlBanner"
              class="form-control"
              id="urlBanner"
              placeholder="Link de foto para banner"
            />
          </div>
          <div class="form-group">
            <label for="urlGitHub">GitHub</label>
            <input
              type="text"
              ngModel="{{ user?.urlGitHub }}"
              name="urlGitHub"
              class="form-control"
              id="durlGitHub"
              placeholder="Link de enlace de GitHub"
            />
          </div>
          <div class="form-group">
            <label for="urlLinkedIn">LinkedIn</label>
            <input
              type="text"
              ngModel="{{ user?.urlLinkedIn }}"
              name="urlLinkedIn"
              class="form-control"
              id="urlLinkedIn"
              placeholder="Link de perfil de LinkedIn"
            />
          </div>
        </form>
        <!--END FORM OF MODAL-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          id="edit-projfile-form"
          (click)="updateProfile(editForm.value)"
          data-bs-dismiss="modal"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
<!--END MODAL EDIT PROFILE-->
