<!--SECTION ABOUT ME-->
<section
  class="section-about-me text-white text-center container my-5 py-4"
  id="about-me"
>
  <div class="row justify-content-center">
    <div class="about__selfie col-md-3 m-3"></div>
    <div class="col-md-7 col-xl-5">
      <h2 class="mb-4 mt-md-4">
        Mi nombre es
        <span class="text-gradient315 fw-bold">&lt;Valeria Aguirre/></span>
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
        dignissimos rem magni rerum, provident fugit quisquam necessitatibus
        iste. Sed fuga id optio quam quia velit animi consequatur quis nisi
        incidunt!
      </p>
      <button class="btn bg-gradient135 fw-bold border-0">Descarga CV</button>
    </div>
  </div>
</section>
<!--END SECTION ABOUT ME-->
